  <header class="about_banner">
      <ul class="ct-socials">
        <li>
          <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a>
        </li>
        <li>
          <a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a>
        </li>
      </ul>
    <div class="about-banner h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <!-- <h1 class="font-weight-light"><img src="img/oway_black.png" alt="oway logo" class="img-fluid"></h1> -->
          <h1><%= image_tag '/assets/oway_black.png', class: "img-fluid" %></h1>
        </div>
      </div>
    </div>
  </header>

<div class="container">
    <h1 class="title">OWAY（オーガニックウェイ）とは</h1>
      <div class="row">

        <div class="about col-md-6">
          <p>OWAY（オーガニックウェイ）は、イタリアに本社を構える<br><strong>ローランド社</strong>の<strong>プロフェッショナルブランド</strong> </p>
          <p>全世界で初めて<strong>バイオダイナミックファーム「ORTOFFFICINA」</strong> で育てた植物を<br>
            ZERO KM（その場）でエッセンシャルオイルや配合成分に加工して使用する
          <h3><span>世界70ヶ国のヘアサロンで展開しているグローバルブランド</span></h3>
        </div>
        <div class="col-md-6">
        <!-- youTube Video -->
          <div class="embed-responsive embed-responsive-16by9 col-md-12">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3y_FzOorGEQ" allowfullscreen></iframe>
          </div>
        </div>

      </div>


    <div class="insights row col-md-8 offset-md-2 slide-in-right right">
      <div class="col-md-8">
        <h2>ガラス瓶とアルミチューブは、製品の安定性と保存性を保証します。</h2>
      </div>
      <div class="col-md-4">
        <img src="img/img-006.jpg" class="img-fluid">
      </div>
    </div>

    <div class="insights row col-md-8 offset-md-2 slide-in-left left">
      <div class="col-md-4">
        <img src="img/img-005.jpg" class="img-fluid">
      </div>
      <div class="col-md-8">
        <h2>私たちは過剰包装に反対します。</h2>
      </div>
    </div>

    <div class="insights row col-md-8 offset-md-2 slide-in-right right">
      <div class="col-md-8">
        <h2>ナチュラル活性成分によって製品の効果を高めています。</h2>
        <p><strong>バイオダイナミック・マルビウム：</strong>肌と髪の構造を強化します。紫外線から髪を守る効果もあります。</p>
        <p><strong>オーガニック・ブラック・キノア：</strong>高品質の植物性タンパクをふんだんに含み、毛髪繊維に栄養を与え、保護します。</p>
        <p><strong>アムラ：</strong>髪に栄養を与え、生き生きとした輝きをもたらします。</p>
        <p><strong>フェアトレード・マルラ：</strong>髪を保護しながら回復させ、水分を調整します。フェアトレードによって南アフリカの原住民の村を経済的に支援しています。</p>
      </div>
      <div class="col-md-4">
        <img src="img/img-007.png" class="img-fluid">
      </div>
    </div>

    <div class="insights row col-md-8 offset-md-2 slide-in-left left">
      <div class="col-md-4">
        <img src="img/img-014.jpg" class="img-fluid">
      </div>
      <div class="col-md-8">
        <h2>有害な可能性のある構成要素を含まない、バイオダイナミック成分をふんだんに使用して作られています。</h2>
      </div>
    </div>


    <div class="sdgs col-md-8 offset-md-2 zoom-out hide">
      <img src="img/img-009.png" class="img-fluid">

      <h2>持続可能な開発目標</h2>
      <h4>OWAYはこの地球を守るプロジェクトに参加しています</h4>
      <p>化学合成物質を使わない、土壌や植物や生態系に配慮したバイオダイナミック農法で栽培した成分を使用</p>

      <h5>安心の国際認証</h5>
      <h6><i class="fas fa-caret-down"></i></h6>
      <p>配合原料は、土づくりから原料抽出、製造工程などの細部に至るまで国際認証機関の厳しいチェックをクリアした原料のみを使用しています。</p>

    </div>



  </div>
