<div class="container">

<div class="page-header col-md-8 offset-md-2">
  <h1>お問い合わせ</h1>
</div>

<div class="message col-md-8 offset-md-2">
  <p>
  お問い合わせいただきありがとうございました。
  </p>

  <%= link_to "トップページへ戻る", inquiry_path %>
</div>


</div>
