// Place all the styles related to the inquiry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// setting color variables here
$color-gray: #DCDCDC;

body {
  // background:blue;
  font-family: 'Noto Serif JP', serif;

}



.page-header {
  margin:3vh 0;
}

.form{
  margin:20px auto;
  margin-bottom:15vh;
  padding:20px;
}





input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 10px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight:bold;

}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  // float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.important {
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  background: #f36565;
  color: #fff;
  padding: 5px 8px;
  border-radius: 2px;
  margin-left: .5em;
  position: relative;
  top: -1px;
}

.personal-information-warning {
  width:95%;
  margin:0 auto;
  background:$color-gray;
  padding:10px;
  h6 {
    text-align:center;
    padding-bottom:3px;
    span {
      border-bottom:1px solid #000;
    }
  }
  p {
    font-size:0.9em;
    margin-top:2vh;
  }
}

.form .btn {
  margin-top:30px;
  width:100%;
}

// Confirmation Page
.confirm {
  margin:4vh auto;
  .item {
    margin:3vh 0;
    .name {
      font-weight:bold;
    }
  }
}

.confirm .btn-warning {
    color:white;
    width:100%;
    padding:12px 20px;
    cursor: pointer;
    border:none;
    border-radius:4px;
    margin-bottom:4vh;
}

.confirm .btn-primary {
    width:100%;
}
